*{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
}

div.container1{
    background-blend-mode: multiply;
    max-width: 100%;
    max-height: 30%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0, 0, 0, 0.5) url("/assets/images/netflixbg.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

div.container2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-height: 30%;
    padding: 150px 100px;
    text-align: center;
}

div.container3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-height: 30%;
    padding: 150px 100px;
    text-align: center;
    margin-top: -80px;
}

div.container3 p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 2px;
}

 div.container2 h1{
     text-align: center;
     color: white;
     font-size: 56px;
     font-weight: 900;
 }

 div.container2 p{
     text-align: center;
     color: white;
     font-size: 20px;
     font-weight: 500;
     margin-top: 2px;
 }

 .field button {
     background-color: red;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     cursor: pointer;
     font-weight: bold;
     margin-left: 5px;
     width: 170px;
     height: 52px;
 }
 .field button:hover{
     background-color: darkred;
 }

 .field button:after{
     content: "\003E";
 }

.field{
    position: relative;
}

 .field input{
     position: relative;
     width: 400px;
     border: 2px solid lightgray;
     border-radius: 5px;
     padding: 15px 10px;
     font-size: 16px;
     font-weight: 400;
     background-color: transparent;
     color: white;
 }

 .field input:focus{
     outline: wheat;
     border: 3px solid white;
 }

 .field label{
     position: absolute;
     left: 20px;
     top: 60px;
     color: white;
 }

 .field input:focus + label{
     top: 48px;
     font-size: 0.75rem;
     opacity: 0.8;
 }

.topright button {
    position: absolute;
    top: 10px;
    right:-140px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 85px;
    height: 35px;
}

.topright button:hover{
    background-color: darkred;
}

.lang{
    position: absolute;
    top: 20px;
    right:350px;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    width: 85px;
    height: 35px;
}

.lang select{
    border: 2px solid white;
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

h2{
    margin-left: 150px;
    text-align: left;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.trending{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
}

.trending img{
    position: relative;
    top: 5px;
    right: 5px;
    flex: 20%;
    width: 200px;
    height: 300px;
}

.trending img:hover{
    width: 230px;
    height: 330px;
    transition: ease-in 0.2s;
}

/* edit hr
hr{

}
 */

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 100%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
}

.review div{
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(#1a2043, #210f1a);
    color: white;
    text-align: left;
    width: 250px;
    height: 300px;
}

.review p{
    color: gray;
    font-size: 16px;
}

.review h3{
    font-weight: bold;
    font-size: 20px;
}

#panel, .question{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    max-width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    height: 80px;
    margin: 10px 150px 5px;

}


#panel {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;

}
#panel1 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;
}
#panel2 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;
}
#panel3 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;
}
#panel4 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;
}
#panel5 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 20px;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    text-align: left;
    max-width: 100%;
    height: 150px;
    display: none;
}

.field1 button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    width: 170px;
    height: 52px;
}
.field1 button:hover{
    background-color: darkred;
}

.field1 button:after{
    content: "\003E";
}

.field1{
    position: relative;
}

.field1 input{
    position: relative;
    width: 400px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    color: white;
}

.field1 input:focus{
    outline: wheat;
    border: 3px solid white;
}

.field1 label{
    position: absolute;
    left: 20px;
    top: 60px;
    color: white;
}

.field1 input:focus + label{
    top: 48px;
    font-size: 0.75rem;
    opacity: 0.8;
}

.foot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -50px;
    row-gap:20px;
    align-content: center;
    max-width: 100%;
    margin-left: 150px;
    margin-right: 10px;
    margin-top: -50px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.foot a{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

